@tailwind base;
@tailwind components;
@tailwind utilities;

/*.ant-btn-primary {*/
/*    background: #1677ff!important;*/
/*}*/
/*.ant-btn {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    text-align: center;*/
/*}*/

body {
    margin: 0;
}

.header-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 100%;
}

.header-container .right {
    display: flex;
    flex-direction: column;
}

.header-container .right .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-container .detail {
    display: flex;
    flex-direction: column;
}

.header-container .left {
    height: 100%;
}
.header-container .left h3 {
    margin: 0;
    padding: 0;
}

.loginPageContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10%;
}
.custom-tabs {
    border: 1px solid #f5ebeb !important;
}
.custom-tabs .ant-tabs-nav {
    background-color: #fff;
    margin: 0;
    border-bottom: 1px solid #f5ebeb;
}
.ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-tab {
    background-color: #fff;
    border: 1px solid #b3acac;
    border-left: none;
    border-top: none;
}
.ant-tabs-nav-list .ant-tabs-tab-active {
    background-color: rgb(245, 245, 245) !important;
}
.recharts-wrapper,
.recharts-surface {
    width: 100% !important;
}
.recharts-legend-wrapper {
    bottom: -20px !important;
    width: 100% !important;
}
.ant-tabs-tabpane {
    padding: 40px 0;
    background-color: #fff;
}

.border-bottom {
    border-bottom: 1px solid #c2c2c2;
}
button {
    cursor: pointer;
}

nav ul {
    list-style-type: none;
}

ul {
    list-style-type: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #828282;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #828282;
}

#role > label {
    margin-left: 0 !important;
}

label.ant-checkbox-wrapper {
    margin: 0 !important;
}
